recursive-include wazo_plugind_admin_ui_group_official/templates *
recursive-include wazo_plugind_admin_ui_group_official/static *
recursive-include wazo_plugind_admin_ui_group_official/translations *
