{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Groups', '', 'users', ['List']) }}
{% endblock %}

{% block content %}
  {% call build_tabs_containers() %}
      {% call build_tabs_navigation() %}
        {{ add_tab_navigation_header('Group', resources.group.name, 'users') }}
        {{ add_tab_navigation_item('general', 'General', active=True) }}
        {{ add_tab_navigation_item('members', 'Members') }}
        {{ add_tab_navigation_item('fallbacks', 'Fallbacks') }}
      {% endcall %}

    {% call build_form(action=url_for('.GroupView:put', id=resources.group.id)) %}
      {% call build_tabs_content() %}

        {% call build_tab_content_item('general', active=True) %}
          {% call add_default_fields(form=form, submit_value="Update") %}
	    {{ render_field(form.name) }}
	    {{ render_field(form.extension) }}
            {{ render_field(form.caller_id_mode) }}
            {{ render_field(form.caller_id_name) }}
            {{ render_field(form.enabled) }}
            {{ render_field(form.music_on_hold) }}
            {{ render_field(form.preprocess_subroutine) }}
            {{ render_field(form.retry_delay) }}
            {{ render_field(form.ring_in_use) }}
            {{ render_field(form.ring_strategy) }}
            {{ render_field(form.timeout) }}
            {{ render_field(form.user_timeout) }}
          {% endcall %}
        {% endcall %}

        {% call build_tab_content_item('members') %}
          {% call add_default_fields(form=form, submit_value="Update") %}
	    {{ render_field(form.users, data_listing_href=url_for(listing_urls['uuid_user'])) }}
          {% endcall %}
        {% endcall %}

        {% call build_tab_content_item('fallbacks') %}
          {% call add_default_fields(form=form, submit_value="Update") %}
            {{ render_field(form.fallbacks.busy_destination) }}
            {{ render_field(form.fallbacks.congestion_destination) }}
            {{ render_field(form.fallbacks.fail_destination) }}
            {{ render_field(form.fallbacks.noanswer_destination) }}
          {% endcall %}
        {% endcall %}

      {% endcall %}
    {% endcall %}
  {% endcall %}

{% endblock %}
