{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Groups', '', 'users', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Group', 'users') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>Name</th>
          <th>Extension</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(group) build_list_table_rows(resource_list['items']) %}
          <td>{{ group.name }}</td>
          <td>
            {% for extension in group.extensions %}
              <strong>{{ _('internal') }}:</strong> {{ extension.exten }}
            {% endfor %}
            {% for extensions in group.incalls %}
              {% for extension in extensions.extensions %}
                <strong>{{ _('incall') }}:</strong> {{ extension.exten }}
              {% endfor %}
            {% endfor %}
            {{ '-' if not group.extensions and not group.incalls }}
          </td>
          <td>
            {{ add_edit_button(href=url_for('.GroupView:get', id=group.id)) }}
            {{ add_delete_button(href=url_for('.GroupView:delete', id=group.id)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Group') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
	      {{ render_field(form.name) }}
              {{ render_field(form.extension) }}
              {{ render_field(form.context, data_listing_href=url_for(listing_urls['context_by_type'], type_='internal')) }}
	      {{ render_field(form.users, data_listing_href=url_for(listing_urls['uuid_user'])) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
